#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: beige;
}

.title {
  font-family: "Nerko One", cursive;
  color: #641c34;
}

.slogan {
  font-family: "Playfair Display", serif;
  color: #641c34;
}