#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #F7F7F7;
}

.img {
  height: auto;
  width: 400px;
}

.slogan {
  font-family: "Caveat", cursive;
  font-size: 60px;
  color: #abd3db;
}

.nav {
  padding: 10px;
  border: #abd3db solid;
}

.list-nav {
  font-family: "Quicksand", sans-serif;
  color: black;
  list-style-type: none;
  border: #abd3db solid;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.list-nav a {
  text-decoration: none;
  color: #000;
  margin: 0 10px;
  transition: color ease 0.8s;

  &:hover {
    color: #abd3db;
    text-decoration: underline;
  }
}

.titles {
  font-family: "Caveat", cursive;
  font-size: 40px;
  color: #abd3db;
  grid-column-start: 1;
  grid-column-end: 4;
}

.list-postures {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}

.div {
  padding: 10px;
  margin: 10px;
}

.div-father {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-postures {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.postures {
  font-family: "Caveat", cursive;
  color: #abd3db;
  font-size: 30px;
}

.img-gallery {
  height: 250px;
  width: 300px;
  border: #abd3db solid;
}

.list-postures {
  list-style-type: none;
  display: column;
  gap: 10px;
  font-size: 18px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 10px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.img-icons {
  display: flex;
  justify-content: center;
  height: 40px;
  padding: 5px;
  gap: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #abd3db solid;
  padding: 5px;
}

.text-footer {
  display: flex;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  //margin-right: 60px;
}

.text-form {
  display: flex;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  //margin-left: 60px;
}

.contact {
  font-family: "Caveat", cursive;
  font-size: 40px;
  color: #abd3db;
}

.fa-brands {
  display: inline-flex;
  justify-content: center;
  padding: 5px;
  margin: 8px;
  transition: color ease 0.8s;

  &:hover {
    color: #abd3db;
    text-decoration: underline;
  }
}
  .fa-regular {
    display: inline-flex;
    justify-content: center;
    padding: 5px;
    margin: 8px;
    transition: color ease 0.8s;

    &:hover {
      color: #abd3db;
      text-decoration: underline;
    }
  }
  .sticky {
    position: -webkit-sticky; /* Soporte para Safari */
    position: sticky;
    top: 0; /* Se quedará en la parte superior cuando se llegue aquí */
    z-index: 1000; /* Para asegurarte de que quede sobre otros elementos */
    background-color: #F7F7F7;
    padding-bottom: 15px;
  }
  [id] {
    scroll-margin-top: 150px; /* Ajusta el valor según la altura de tu sticky */
}

.separated {
  color: #abd3db;
  font-family: "Quicksand", sans-serif;;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

.form {
  background-color: #abd3db;
  display: none;
}

.button-form {
  cursor: pointer;
  border: #000 solid 2px;
  border-radius: 8px;
  background-color: #F7F7F7;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  padding: 8px;
  margin-bottom: 20px;
}

.div-form {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  padding: 10px;
}

.input {
  font-family: "Quicksand", sans-serif;
}

.input-text {
  font-family: "Quicksand", sans-serif;
  padding: 10px;
  margin: 5px;
}